<ngt-canvas
    (created)="$event.camera.lookAt(0, 0, 0)"
    [shadows]="true"
    [camera]="{ fov: 35, near: 0.25, far: 1000, position: [-5, 5, 20] }"
    [scene]="{ background: '#0e0e0e' | color, fog: ['#e0e0e0', 20, 100] | fog }"
    [size]="{ width: window.innerWidth, height: window.innerHeight }"

>
  <ngt-stats></ngt-stats>
  <ngt-soba-orbit-controls></ngt-soba-orbit-controls>
  <ngt-soba-stars></ngt-soba-stars>
  <ngt-grid-helper
      #ngtGridHelper="ngtGridHelper"
      (ready)="onGridHelperReady(ngtGridHelper.helper)"
      [args]="[100, 40, '#000000', '#000000']"
      [receiveShadow]="true"
  ></ngt-grid-helper>
  <ngt-mesh [position]="[0,0,0]">
    <ngt-box-geometry></ngt-box-geometry>
    <ngt-mesh-phong-material
        [parameters]='{color: "#f3f3f3", wireframe: true}'
    ></ngt-mesh-phong-material>
  </ngt-mesh>

</ngt-canvas>
<!--<ngt-soba-loader></ngt-soba-loader>-->
