/* You can add global styles to this file, and also import other style files */
body {
  margin:           0;
  //remove scrollbars
  overflow:         hidden;
  //remove default padding
  padding:          0;
  //set background color
  background-color: #7E1C1C;
}
